.wrapper {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .wrapper {
    max-width: 345px;
  }
}

@media screen and (min-width: 744px) {
  .wrapper {
    max-width: 714px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1280px;
  }
}
